




h1 {
    color: rgb(81, 47, 173);
    font-size: 50px;
    font-weight: 200;
    font-family: 'Gill Sans';
}
h2 {
    color: rgb(135, 101, 230);
    font-size: 30px;
    font-weight: 100;
    font-family: 'Gill Sans';
}
dt {
    font-size: 18px;
    font-style: italic;
}

.PV {
    color: rgb(95, 7, 51);
    font-weight: bolder;
}

.DB {
    color: rgb(135, 80, 197);
    font-weight: bolder;
}

.M {
    color: rgb(119, 119, 206);
    font-weight: bolder;
}

.RS {
    color: rgb(167, 126, 167);
    font-weight: bolder;
}

.W {
    color: rgb(161, 81, 161);
    font-weight: bolder;
}

.E {
    color: rgb(206, 55, 173);
    font-weight: bolder;
}

.BB {
    font-weight: bolder;
    font-style: italic;
    font-weight: lighter;
}