
body {
    max-width: 960px;
    min-width: 320px;
    margin-left: auto;
    width: 95%;
    margin-right: auto;
    font-family: Yrsa, serif;
    font-weight: 400;

}
img {
    border: 4px solid darkred;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}
html {
    background-color: rgb(255, 243, 236);
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}
@media (min-width: 640px) {
    section {
        display:flex;
    }
    
}
h3 {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: rgb(191, 122, 122);
    background-color: rgb(235, 209, 209);
    text-align: center;
}
h2 {
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(191, 122, 122);
    text-align: center;

}
.horchata {
    font-size: 65px;
    font-family: rig-solid-bold-halftone, sans-serif;
    text-align: center;
    font-weight:700;
    font-style: normal;
}
footer {
  font-size: smaller;  
}
hr {
    margin-left: 14px;
    height: 2px;
    background-color: darkred;
    border: none;
}
div {
    font-size: 20px;
}
h1 {
    font-family: rig-solid-bold-halftone, sans-serif;
    text-align: center;
    font-weight:900;
    font-style: normal;
    margin-bottom: 5px;
    color: rgb(191, 122, 122);
}
.box {
    background-color: rgb(235, 209, 209);
}